@import '../../styles/_typography.scss';

.input-wrapper {
  width: 100%;
  position: relative;

  textarea:focus, input:focus{
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .number-input {
    @include typo-description;

    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: 1px solid #E1E1E1;
    border-radius: 0.625rem;
    text-align: left;


    &:focus {
      border-color: #5FCB39;
    }
  }

  .error-message {
    @include typo-description;

    width: 100%;
    padding-left: 0.5rem;
    color: red;
  }
}