@import '../../styles/_typography.scss';

.measure-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  width: 22.5rem;


  .measure-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #5FCB39;
    border-radius: 0.625rem;


    .choice {
      @include typo-extra-bold;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: #5FCB39;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.3s ease all;

      &:hover {
        background: gainsboro;
      }

      &:nth-child(1){
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
      }

      &:nth-child(2){
        border-top-right-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
      }
    }

    .selected {
      background: #5FCB3933;

      &:hover {
        background: #5FCB3933;
      }
    }
  }

  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .measure-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;

    .info-title {
      @include typo-bold-headline-1;
    }

    .info-description {
      @include typo-description;
    }
  }
}